    <div class="list-item">
        <h3 class="list-post-title">
            <a href="/{{ article.url }}">{{ article.title }}</a>
        </h3>
        <div class="list-post-date">
            on <time>{{ article.date|strftime('%d-%m-%Y') }}</time>
            in <a href="{{SITE_URL}}/category/{{article.category}}.html">{{article.category}}</a> with
            {% for tag in article.tags %}<a href="{{SITE_URL}}/tag/{{tag}}.html">{{tag}}</a>{% if not loop.last%}, {%endif%}{%endfor%}
        </div>
    </div>
