{% extends 'base.html' %}

{% block extra_meta %}
<meta name="keywords" content="{{ article.keywords }}"/>
<meta name="date" content="{{ article.date }}" />
<meta name="author" content="{{ article.author }}" />
<meta name="summary" content="Short version for index and feeds" />
{% endblock %}

{% block content %}
<div class="content post">
    {% include 'article_header.html' %}

    {{ article.content }}
</div>

<div class="addthis_sharing_toolbox"></div>
{% include 'disqus.html' %}
{% endblock %}
